<section class="bloc">
  <h2>{{#if client.id}}Editar Client{{else}}Afegir Client{{/if}}</h2>

  <form id="formClient" action="{{#if client.id}}/Update{{else}}/create{{/if}}" method="POST">
    <input type="hidden" name="taula" value="clients">
    
    {{#if client.id}}
      <input type="hidden" name="id" value="{{client.id}}">
    {{/if}}

    <div class="fila">
      <label>Nom:</label>
      <input type="text" name="name" id="name" value="{{client.name}}">
      <small class="error-msg" id="err-name"></small>
    </div>

    <div class="fila">
      <label>Email:</label>
      <input type="email" name="email" id="email" value="{{client.email}}">
      <small class="error-msg" id="err-email"></small>
    </div>

    <div class="fila">
      <label>Telèfon:</label>
      <input type="text" name="phone" id="phone" value="{{client.phone}}">
      <small class="error-msg" id="err-phone"></small>
    </div>

    <div class="botons">
      <button type="submit" class="bto">Guardar</button>
      
      {{#if client.id}}
        <button formaction="/Delete" type="submit" class="bto bto-vermell" onclick="return confirm('Segur?')">Eliminar</button>
      {{/if}}
      
      <a href="/clients" class="bto" style="background: gray;">Cancel·lar</a>
    </div>
  </form>
</section>

<script src="/js/validaClient.js"></script>